body {
  padding-top: 72px;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --color-text-h: #2e2f42;
  --color-text-hero: #ffffff;
  --color-text: #434455;
  --color-text-button: #4d5ae5;
  --color-focus-btn: #404bbf;
  --color-btn: #f4f4fd;
  --border-header: #e7e9fc;
  --icon-company: #8e8f99;
  --modal-color: #fcfcfc;
  --modal-text: rgba(46, 47, 66, 0.4);
  --time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --scale-bef: scale(1, 1);
  --scale-aft: scale(1.25, 1.25);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**--------------------HEADER---------------------**/

.header-frame {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;

  background-color: #fff;
  border-bottom: 1px solid var(--border-header);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.head-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 40px;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-button);
}

.logo-web {
  color: var(--color-text-h);
}

.header-link {
  position: relative;
  padding: 24px 0;
  transition: color var(--time) var(--timing-function);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--color-text-h);
}

.header-link::after {
  transition: transform var(--time) var(--timing-function);
  transform: scaleX(0);
  opacity: 0;

  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  border-radius: 2px;

  background-color: transparent;
}

.current {
  color: var(--color-focus-btn);
}

.header-link.current::after,
.header-link:hover::after,
.header-link:focus::after {
  transform: scaleX(1);
  opacity: 1;

  background-color: var(--color-focus-btn);
}

.header-link:is(:hover, :focus) {
  color: var(--color-focus-btn);
}

.contact {
  transition: color var(--time) var(--timing-function);

  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.contact:hover,
.contact:focus {
  color: var(--color-focus-btn);
}

/***----------------------FOOTER------------------------**/

.basement-bg {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-text-h);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.basement-first {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  max-width: 264px;
  margin-bottom: 16px;
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-button);
}

.basement-logo {
  color: var(--color-btn);
}

.basement-text {
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-btn);
}

.footer-socials {
  margin-right: 80px;
}

.footer-text {
  margin-bottom: 16px;
  flex-wrap: wrap;
  width: 100%;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-hero);
}

.footer-form {
  display: flex;
  gap: 24px;
}

.mail-label {
}

.footer-socials-list {
  gap: 16px;
}

.footer-socials-link {
  transition: background-color var(--time) var(--timing-function);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--color-text-button);
}

.footer-socials-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-socials-icon {
  fill: var(--color-btn);
}

.footer-subscribe {
  position: relative;
}

.mail-input {
  width: 264px;
  height: 40px;

  padding-left: 16px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--color-text-hero);
  background-color: transparent;
  border: 1px solid var(--color-text-hero);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mail-input::placeholder {
  color: var(--color-text-hero);
}

.subscribe-btn {
  transition: background-color var(--time) var(--timing-function);

  min-width: 165px;
  height: 40px;
  padding: 8px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  background-color: var(--color-text-button);
  border: none;
  border-radius: 4px;
  color: var(--color-text-hero);
}

.subscribe-btn:is(:hover, :focus) {
  background-color: var(--color-focus-btn);
}

.subscribe-icon {
  margin-left: 16px;

  fill: var(--color-text-hero);
}

/***----------------------HERO------------------------**/

.hero-frame {
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;

  background-color: var(--color-text-h);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text-hero);
}

.hero-btn {
  transition: background-color var(--time) var(--timing-function);

  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;

  color: var(--color-text-hero);
  background-color: var(--color-text-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--color-focus-btn);
}

/***---------------goal of the company---------------------**/

.company-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.company-list {
  display: flex;
  gap: 24px;
}

.company-item {
  flex-basis: calc((100% - 72px) / 4);
}

.company-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  padding: 0;
  margin-bottom: 8px;
  border: none;
  border-radius: 4px;

  background-color: var(--color-btn);
}

.company-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-h);
}

.company-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------What are we doing---------- */

.doing-section {
  padding-bottom: 120px;
}

.doing-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-text-h);
}

.doing-item:not(:last-child) {
  margin-right: 24px;
}

/**--------------------------Our Team---------------------**/

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--color-btn);
}

.team-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-h);
}

.team-frame {
  padding: 32px 16px;
}

.team-item {
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-text-hero);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.team-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text-h);
}

.team-text {
  margin-bottom: 8px;

  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.socials-list {
  justify-content: center;
  gap: 24px;
}

.socials-icon {
  fill: var(--color-btn);
}

.socials-link {
  transition: background-color var(--time) var(--timing-function);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--color-text-button);
}

.socials-link:is(:hover, :focus) {
  background-color: var(--color-focus-btn);
}

/* --------------------Customers-------------------- */
.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--color-text-h);
}

.customers-list {
  width: 1128px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-link {
  transition: border-color var(--time) var(--timing-function),
    color var(--time) var(--timing-function);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-company);
  border-radius: 4px;

  color: var(--icon-company);
}

.customers-icon {
  transition: fill var(--time) var(--timing-function);

  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--icon-company);
}

.customers-link:is(:hover, :focus) {
  border-color: var(--color-focus-btn);
  color: var(--color-focus-btn);
}

.customers-link:is(:hover, :focus) .customers-icon {
  fill: var(--color-focus-btn);
}

/***-------------------PORTFOLIO---------------------**/

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters-list {
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.filters-btn {
  transition: color var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function),
    border-color var(--time) var(--timing-function),
    box-shadow var(--time) var(--timing-function);

  display: block;
  padding: 12px 24px;
  align-items: center;
  border: 1px solid var(--border-header);
  border-radius: 4px;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--color-text-button);
  background-color: var(--color-btn);
}

.filters-btn:hover,
.filters-btn:focus {
  border-radius: 4px;
  border: 1px solid transparent;

  background-color: var(--color-focus-btn);
  color: var(--color-text-hero);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.portfolio-frame {
  padding: 32px 16px;
  border: 1px solid var(--border-header);
  border-top: none;
}

.portfolio-link {
  transition: box-shadow var(--time) var(--timing-function);

  display: block;
}

.portfolio-link:is(:hover, :focus) {
  transform: translateY(0%);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  transition: transform var(--time) var(--timing-function);

  width: 100%;
  height: 100%;

  background-color: var(--color-text-button);
}

.portfolio-thumb-text {
  position: absolute;
  top: 0;

  transform: translateY(100%);
  transition: transform var(--time) var(--timing-function);

  padding: 40px 32px;
  height: 100%;
  width: 100%;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-btn);
  background-color: var(--color-text-button);
}

.portfolio-link:is(:hover, :focus) .portfolio-thumb,
.portfolio-link:is(:hover, :focus) .portfolio-thumb-text {
  transform: translateY(0%);
}

.portfolio-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-h);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/* ---------------------backdrop-------------------- */

.backdrop {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;

  transition: opacity var(--time) var(--timing-function),
    visibility var(--time) var(--timing-function);

  background-color: var(--modal-text);
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform var(--time) var(--timing-function);

  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;

  background-color: var(--modal-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;

  transition: background-color var(--time) var(--timing-function),
    border var(--time) var(--timing-function);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  background-color: var(--border-header);
}

.modal-button:is(:hover, :focus) {
  background-color: var(--color-focus-btn);
  border: none;
}

.modal-icon {
  transition: fill var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function);

  background-color: var(--border-header);
}

.modal-button:is(:hover, :focus) .modal-icon {
  background-color: var(--color-focus-btn);
  fill: var(--color-text-hero);
}

.modal-title {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--color-text-h);
}

.label-wrap {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--icon-company);
}

.input-wrap {
  position: relative;
}

.modal-input {
  transition: border-color var(--time) var(--timing-function);

  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 8px;
  padding-left: 38px;

  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--modal-text);
  border-radius: 4px;
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill var(--time) var(--timing-function);
}

.modal-input:is(:hover, :focus) {
  border-color: var(--color-text-button);
}

.modal-input:is(:hover, :focus) + .modal-form-icon {
  fill: var(--color-text-button);
}

.textarea-wrap {
  margin-bottom: 16px;
}

.comment-wrap {
  transition: border-color var(--time) var(--timing-function);

  width: 100%;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  padding: 8px 16px;
  resize: none;

  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid var(--modal-text);
  border-radius: 4px;
}

.comment-wrap::placeholder {
  color: var(--modal-text);
}

.comment-wrap:is(:hover, :focus) {
  border-color: var(--color-text-button);
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: center;

  color: var(--icon-company);
}

.checkbox-span {
  transition: border var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function),
    fill var(--time) var(--timing-function);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;

  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  color: var(--color-text-button);
}

.checkbox-input:checked + .checkbox-label > .checkbox-span {
  border-color: var(--color-text-button);
  background-color: var(--color-focus-btn);
  border: none;
  fill: var(--color-btn);
}

.checkbox-link {
  color: var(--color-text-button);
}

.send-btn {
  transition: background-color var(--time) var(--timing-function);

  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;

  color: var(--color-text-hero);
  background-color: var(--color-text-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.send-btn:is(:hover, :focus) {
  background-color: var(--color-focus-btn);
}
